<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- BepInEx feed — hosts RoR2 game libs & all R2API packages -->
    <add key="BepInEx"    value="https://nuget.bepinex.dev/v3/index.json" />
    <!-- Standard NuGet for BepInEx.Analyzers etc. -->
    <add key="nuget.org"  value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
